In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv')

In [3]:
# View the data head
data.head()

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
0,f1_fuel_1994_12_1_0_7,1,1994,rockport,coal,ton,5377489.0,16.590,18.59,18.53,1.121
1,f1_fuel_1994_12_1_0_10,1,1994,rockport total plant,coal,ton,10486945.0,16.592,18.58,18.53,1.120
2,f1_fuel_1994_12_2_0_1,2,1994,gorgas,coal,ton,2978683.0,24.130,39.72,38.12,1.650
3,f1_fuel_1994_12_2_0_7,2,1994,barry,coal,ton,3739484.0,23.950,47.21,45.99,1.970
4,f1_fuel_1994_12_2_0_10,2,1994,chickasaw,gas,mcf,40533.0,1.000,2.77,2.77,2.570

In [4]:
# Check data summary
data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [47]:
# Question 3. Lowest average fuel cost per unit burned
data.groupby('fuel_type_code_pudl').mean()['fuel_cost_per_unit_burned']

fuel_type_code_pudl
coal         67.421830
gas          13.659397
nuclear    4955.157002
oil         168.877086
other        18.253856
waste        19.518122
Name: fuel_cost_per_unit_burned, dtype: float64

In [48]:
# Question 4a Standard deviation
data.fuel_mmbtu_per_unit.std()

10.600220307806886

In [49]:
# Question 4b. 7th percentile
data.describe()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523.000000,29523.000000,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
mean,118.601836,2005.806050,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,74.178353,7.025483,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,1.000000,1994.000000,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,55.000000,2000.000000,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,122.000000,2006.000000,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,176.000000,2012.000000,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,514.000000,2018.000000,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [26]:
# QUestion 5. Skewness and kurtoisness in two decimal places
print(round(data['fuel_qty_burned'].skew(),2))
print(round(data['fuel_qty_burned'].kurt(),2))

15.85
651.37

In [6]:
# Question 6a Which feature has missing values
data.isnull().any()

record_id                       False
utility_id_ferc1                False
report_year                     False
plant_name_ferc1                False
fuel_type_code_pudl             False
fuel_unit                        True
fuel_qty_burned                 False
fuel_mmbtu_per_unit             False
fuel_cost_per_unit_burned       False
fuel_cost_per_unit_delivered    False
fuel_cost_per_mmbtu             False
dtype: bool

In [17]:
# Question 6b and c. Total number of missing values and its percentage
print(data['fuel_unit'].isnull().sum())
print(round((data['fuel_unit'].isnull().sum()/29523)*100,3))

180
0.61

In [18]:
# Question 7 = 6a

In [30]:
# Question 8 Lowest correlation with Fuel Cost per Unit burned
data.corr()

,utility_id_ferc1,report_year,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
utility_id_ferc1,1.000000,0.093323,-0.057447,-0.066946,-0.037863,-0.016414,0.006122
report_year,0.093323,1.000000,0.012952,-0.110853,0.013599,-0.014043,0.010261
fuel_qty_burned,-0.057447,0.012952,1.000000,-0.080946,-0.018535,-0.003551,-0.001896
fuel_mmbtu_per_unit,-0.066946,-0.110853,-0.080946,1.000000,-0.010034,-0.009039,-0.005884
fuel_cost_per_unit_burned,-0.037863,0.013599,-0.018535,-0.010034,1.000000,0.011007,-0.000437
fuel_cost_per_unit_delivered,-0.016414,-0.014043,-0.003551,-0.009039,0.011007,1.000000,-0.000109
fuel_cost_per_mmbtu,0.006122,0.010261,-0.001896,-0.005884,-0.000437,-0.000109,1.000000

In [33]:
#Question 9. PErcentage change in fuel cost per unit burned in 1998 compared to 1994
data.groupby(['fuel_type_code_pudl','report_year']).sum()

                                 utility_id_ferc1  fuel_qty_burned  \
fuel_type_code_pudl report_year
coal                1994                    50430     7.172082e+08
                    1995                    51231     1.257398e+09
                    1996                    45720     6.988514e+08
                    1997                    44254     8.169024e+08
                    1998                    46403     8.982095e+08
                    1999                    45126     8.805301e+08
                    2000                    44271     8.620492e+08
                    2001                    40232     8.564316e+08
                    2002                    38592     8.144357e+08
                    2003                    38876     8.018815e+08
                    2004                    38246     7.735318e+08
                    2005                    37923     6.046304e+08
                    2006                    37535     6.002375e+08
                    2007                    37444     6.131788e+08
                    2008                    38487     5.752296e+08
                    2009                    37503     5.219981e+08
                    2010                    36877     5.931191e+08
                    2011                    39557     5.228667e+08
                    2012                    39453     4.833351e+08
                    2013                    38759     5.001244e+08
                    2014                    40106     4.571944e+08
                    2015                    33587     3.878417e+08
                    2016                    30469     3.804213e+08
                    2017                    28995     3.297659e+08
                    2018                    28278     3.216100e+08
gas                 1994                    54449     2.432212e+09
                    1995                    57990     2.570880e+09
                    1996                    48107     1.915218e+09
                    1997                    50628     2.039925e+09
                    1998                    57582     2.554651e+09
...                                           ...              ...
other               2012                      517     3.006978e+06
                    2013                      335     4.387423e+06
                    2014                       98     5.187094e+06
                    2015                       98     5.416122e+06
                    2016                       98     2.763596e+06
waste               1994                     3508     1.242241e+06
                    1995                     3346     1.642051e+06
                    1996                     3162     1.102632e+06
                    1997                     3325     1.528774e+06
                    1998                     3053     1.624599e+06
                    1999                     2167     1.108979e+06
                    2000                     2175     1.271108e+06
                    2001                     2236     1.361951e+06
                    2002                     2218     1.394020e+06
                    2003                     1856     1.082223e+06
                    2004                     2343     1.110020e+06
                    2005                     2223     1.605762e+06
                    2006                     2956     1.828512e+06
                    2007                     2675     2.153725e+06
                    2008                     2498     2.147651e+06
                    2009                     3357     2.139046e+06
                    2010                     3142     2.423293e+06
                    2011                     2953     2.169002e+06
                    2012                     2727     2.064520e+06
                    2013                     3422     2.723547e+06
                    2014                     2840     3.607257e+06
                    2015                     2837     3.737472e+06
                    2016                     2547     3.782403e+06
                    2017                     2183     3.534230e+06
                    2018                     2277     3.296373e+06

                                 fuel_mmbtu_per_unit  \
fuel_type_code_pudl report_year
coal                1994                10293.429297
                    1995                10262.019015
                    1996                 9269.878000
                    1997                 9000.095755
                    1998                 9212.781694
                    1999                 9052.256583
                    2000                 8584.171000
                    2001                 7574.081578
                    2002                 6967.923735
                    2003                 6906.303079
                    2004                 6677.321225
                    2005                 6712.699417
                    2006                 6770.056762
                    2007                 6806.668782
                    2008                 6577.120958
                    2009                 6466.146698
                    2010                 6420.927249
                    2011                 6535.775560
                    2012                 6595.084441
                    2013                 6478.798444
                    2014                 5932.994198
                    2015                 5300.479998
                    2016                 4652.271091
                    2017                 4343.490065
                    2018                 4066.708564
gas                 1994                  498.035534
                    1995                  513.394734
                    1996                  434.236843
                    1997                  456.865725
                    1998                  526.381050
...                                              ...
other               2012                    0.167199
                    2013                    0.152937
                    2014                    0.001414
                    2015                    0.001411
                    2016                    0.001410
waste               1994                    0.577288
                    1995                    0.337080
                    1996                    0.364899
                    1997                    0.382760
                    1998                    0.221197
                    1999                    0.186733
                    2000                    0.152991
                    2001                    0.160667
                    2002                    8.665753
                    2003                    8.818894
                    2004                    8.667558
                    2005                    8.653393
                    2006                    8.685188
                    2007                    8.676567
                    2008                    8.663653
                    2009                    8.700041
                    2010                    8.675162
                    2011                    8.662519
                    2012                    8.762649
                    2013                    8.775048
                    2014                    8.715213
                    2015                    8.738479
                    2016                    8.828807
                    2017                    8.686320
                    2018                    8.693921

                                 fuel_cost_per_unit_burned  \
fuel_type_code_pudl report_year
coal                1994                         14984.572
                    1995                         14571.785
                    1996                         12694.803
                    1997                         43742.178
                    1998                         11902.597
                    1999                         16303.468
                    2000                        100428.831
                    2001                         15109.012
                    2002                          9171.164
                    2003                         30954.110
                    2004                          9632.063
                    2005                         11107.182
                    2006                         12402.684
                    2007                         12965.171
                    2008                         14331.348
                    2009                         45554.858
                    2010                         88627.745
                    2011                         17001.015
                    2012                         17546.097
                    2013                         17629.860
                    2014                         15412.197
                    2015                         13338.235
                    2016                         11100.925
                    2017                         10254.284
                    2018                          9488.197
gas                 1994                         10792.496
                    1995                          9087.905
                    1996                          1467.390
                    1997                          1518.471
                    1998                          7475.596
...                                                    ...
other               2012                           224.123
                    2013                           182.494
                    2014                             0.661
                    2015                             0.595
                    2016                             0.609
waste               1994                            52.762
                    1995                          -192.699
                    1996                            88.092
                    1997                           137.433
                    1998                           238.109
                    1999                           143.025
                    2000                          -489.141
                    2001                           217.499
                    2002                           254.438
                    2003                           161.973
                    2004                           272.512
                    2005                           313.457
                    2006                           423.847
                    2007                           427.014
                    2008                           474.022
                    2009                           739.884
                    2010                           755.157
                    2011                           517.912
                    2012                           589.791
                    2013                           609.411
                    2014                           591.594
                    2015                           629.270
                    2016                           539.079
                    2017                           452.079
                    2018                           660.972

                                 fuel_cost_per_unit_delivered  \
fuel_type_code_pudl report_year
coal                1994                            59215.371
                    1995                            13704.146
                    1996                            12087.581
                    1997                            11308.641
                    1998                           308602.749
                    1999                            14774.389
                    2000                            69796.564
                    2001                            14209.655
                    2002                             8667.629
                    2003                             8791.737
                    2004                             9174.146
                    2005                            10666.724
                    2006                            11564.840
                    2007                            12011.237
                    2008                            13707.916
                    2009                            14525.653
                    2010                            58305.055
                    2011                            16047.700
                    2012                            16473.907
                    2013                            16184.979
                    2014                            14446.172
                    2015                            12103.496
                    2016                            10120.573
                    2017                             9037.849
                    2018                           254052.695
gas                 1994                             8099.070
                    1995                             6579.786
                    1996                             1315.040
                    1997                             5378.348
                    1998                             4692.188
...                                                       ...
other               2012                              221.755
                    2013                               49.904
                    2014                                0.661
                    2015                                0.595
                    2016                                0.609
waste               1994                               52.615
                    1995                             -189.427
                    1996                               80.826
                    1997                              134.873
                    1998                              238.204
                    1999                              118.775
                    2000                             -425.717
                    2001                              212.639
                    2002                              250.101
                    2003                              155.604
                    2004                              165.276
                    2005                              271.067
                    2006                              396.147
                    2007                              398.654
                    2008                              461.130
                    2009                              689.975
                    2010                              754.302
                    2011                              560.935
                    2012                              575.138
                    2013                              645.554
                    2014                              545.293
                    2015                              591.380
                    2016                              504.245
                    2017                              417.818
                    2018                              514.749

                                 fuel_cost_per_mmbtu
fuel_type_code_pudl report_year
coal                1994                   682.14697
                    1995                   663.74149
                    1996                   581.57661
                    1997                   551.68662
                    1998                   557.06574
                    1999                   540.98716
                    2000                   506.31631
                    2001                   474.98225
                    2002                   442.40938
                    2003                   439.63376
                    2004                   455.36301
                    2005                   521.97182
                    2006                   580.23002
                    2007                   609.17779
                    2008                   683.60135
                    2009                   738.17690
                    2010                   738.44617
                    2011                   812.55793
                    2012                   845.89671
                    2013                   845.00928
                    2014                   754.22280
                    2015                   669.65187
                    2016                   571.56333
                    2017                   522.20423
                    2018                   486.49567
gas                 1994                  1368.51941
                    1995                  1215.67299
                    1996                  1317.92815
                    1997                  1500.72369
                    1998                  1497.21333
...                                              ...
other               2012                    26.89900
                    2013                    25.18500
                    2014                     0.46700
                    2015                     0.42100
                    2016                     0.43200
waste               1994                   450.02700
                    1995                   602.93300
                    1996                   -25.49100
                    1997                    13.98700
                    1998                    15.18400
                    1999                    12.21300
                    2000                   -15.23100
                    2001                     9.62200
                    2002                    10.38800
                    2003                     6.98100
                    2004                     9.84700
                    2005                    13.85400
                    2006                    21.92000
                    2007                    23.17100
                    2008                    25.27600
                    2009                    45.16600
                    2010                   267.85000
                    2011                   225.89400
                    2012                    32.86900
                    2013                   277.03400
                    2014                   343.82900
                    2015                   391.21400
                    2016                   429.59900
                    2017                359311.75300
                    2018                   315.19300

[148 rows x 6 columns]

In [44]:
data.groupby(['fuel_type_code_pudl','report_year'])['fuel_cost_per_unit_burned'].pct_change()

0              NaN
1        -0.000538
2         1.137783
3         0.188570
4              NaN
5        -0.062910
6              NaN
7         0.323237
8        -0.419713
9        -0.154254
10       -0.299639
11       -0.000696
12        0.000000
13        0.053570
14             NaN
15        0.467998
16       -0.002072
17       -0.181531
18        0.268997
19        0.037068
20       -0.132822
21       -0.090093
22       -0.001528
23        0.061513
24        0.007378
25        0.000062
26       -0.214827
27        0.014416
28        0.283505
29       -0.328363
           ...
29493     1.689139
29494    -0.309502
29495     0.071459
29496    -0.478261
29497     0.581186
29498     0.232274
29499     0.077371
29500     0.003702
29501     0.028864
29502    -0.135967
29503    -0.101480
29504     0.383157
29505     0.144286
29506    -0.057239
29507     0.027740
29508    39.643927
29509    -0.990353
29510    -0.448739
29511     0.430894
29512     1.531250
29513    -0.362514
29514    -1.000000
29515     0.466549
29516     0.000000
29517    -0.072493
29518    -0.426170
29519    -0.236402
29520     0.306849
29521    -0.776479
29522    -1.000000
Name: fuel_cost_per_unit_burned, Length: 29523, dtype: float64

In [50]:
#Question 10.Highest average fuel cost per unit delivered
data.groupby('report_year').mean()['fuel_cost_per_unit_delivered']

report_year
1994       63.636060
1995       32.735269
1996     9196.705948
1997    11140.197239
1998      287.154420
1999       25.551627
2000      985.362877
2001       60.050396
2002       47.594361
2003       55.663493
2004      139.524275
2005       41.438184
2006       38.657484
2007       43.325023
2008       58.588197
2009      652.694163
2010       91.862105
2011       59.774667
2012       60.994502
2013      172.307591
2014      192.737183
2015      326.535511
2016      103.901761
2017       46.196861
2018      499.269966
Name: fuel_cost_per_unit_delivered, dtype: float64

In [ ]:
11902.597
14984.572